@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&family=Pacifico&family=Roboto+Slab:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(240, 240, 240);
}
.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.employee-profile-header {
  height: 80px;
  width: 100vw;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(210, 210, 210);
  box-sizing: border-box;
}

.employee-profile-header-content {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go-back-button {
  padding: 0.8rem 1.5rem;
  user-select: none;
  margin-left: 10rem;
  width: 10rem;
  outline: none;
  font-size: 1.1rem;
  border: solid 2px rgba(50, 50, 255, 1);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: rgba(50, 50, 255, 1);
  font-weight: 900;
  background-color: inherit;
}

.go-back-button:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 890px) {
  .go-back-button {
    margin-left: 0;
    margin: auto;
  }
}
