@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.employee-finder-header-content {
  height: 100%;
  width: 1440px;
  /* background-color: #fffec7; */
  background-color: #f8f2dc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
