.employee-profile-header-content {
  height: 100%;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go-back-button {
  padding: 0.8rem 1.5rem;
  user-select: none;
  margin-left: 10rem;
  width: 10rem;
  outline: none;
  font-size: 1.1rem;
  border: solid 2px rgba(50, 50, 255, 1);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: rgba(50, 50, 255, 1);
  font-weight: 900;
  background-color: inherit;
}

.go-back-button:hover {
  text-decoration: underline;
}
