.employee-metric-location-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
}

.employee-metric-location-title {
  color: #81adc8;
  font-size: 1.9rem;
  user-select: none;
}

.employee-metric-location-address {
  color: #202121;
  font-size: 1.1rem;
  opacity: 0.5;
  margin-top: 0.25rem;
}
